$background-color: #495A75;
$header-gradient--1: #487ccf;
$card-background: #a5b3c0;

body {
  background: white;
  margin:0;

}

header {
  height: 50vh;
  background: $background-color;

  div {
    margin: auto;
  }

  .title {
    width: 50vw;
    text-align: center;
    margin: auto;
  }
}

.developer-profile__container {
  margin: 16px;
  padding: 16px;
  border-radius: 12px;
  background: $card-background;
}

.developer-profile__info-wrapper {
  display: flex;
  justify-content: space-between;
}

.developer-profile__attributes {
  padding:8px;
  min-width: 300px;
}

.developer-profile__stats {
  background: white;
  border: 2px solid black;
  border-radius: 12px;
  min-width: 400px;
}

.developer-profile__university {
  display: flex;

  p {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
}

.developer-profile__basic-info {
  display: flex;
  justify-content: space-between;

  :first-child {
    font-weight: bold;
  }
}